<header class="header">
  <nav class="navbar"  style="background-color: #131313 !important;">
    <div class="navbar-brand">
      <div style="display: flex; flex-direction:row; padding: 12px 32px; gap: 12px;    align-items: center;">
        <svg xmlns="http://www.w3.org/2000/svg" height="42" viewBox="0 0 219 114" fill="none" width="40px">
          <path class="a737459c-e8c7-4afa-8008-f6cfd15ccda2" d="m 128,84 c 12.5,0 30.6,-2.6 30.6,-17.5 a 19.53,19.53 0 0 0 -0.3,-3.4 L 150.9,30.7 C 149.2,23.6 147.7,20.3 135.2,14.1 125.5,9.1 104.4,1 98.1,1 92.2,1 90.5,8.5 83.6,8.5 76.9,8.5 72,2.9 65.7,2.9 c -6,0 -9.9,4.1 -12.9,12.5 0,0 -8.4,23.7 -9.5,27.2 a 6.15,6.15 0 0 0 -0.2,1.9 C 43,53.7 79.3,83.9 128,84 m 32.5,-11.4 c 1.7,8.2 1.7,9.1 1.7,10.1 0,14 -15.7,21.8 -36.4,21.8 C 79,104.5 38.1,77.1 38.1,59 a 18.35,18.35 0 0 1 1.5,-7.3 C 22.8,52.5 1,55.5 1,74.7 1,106.2 75.6,145 134.6,145 c 45.3,0 56.7,-20.5 56.7,-36.7 0,-12.7 -11,-27.1 -30.8,-35.7" id="path8" inkscape:connector-curvature="0" style="fill:#ee0000"></path>
          <path d="m 160.5,72.6 c 1.7,8.2 1.7,9.1 1.7,10.1 0,14 -15.7,21.8 -36.4,21.8 C 79,104.5 38.1,77.1 38.1,59 a 18.35,18.35 0 0 1 1.5,-7.3 l 3.7,-9.1 a 6.15,6.15 0 0 0 -0.2,1.9 c 0,9.2 36.3,39.4 84.9,39.4 12.5,0 30.6,-2.6 30.6,-17.5 A 19.53,19.53 0 0 0 158.3,63 Z" id="path10" inkscape:connector-curvature="0"></path>
        </svg>
        <p style="font-weight: 600; margin-left: 12px;">Red Hat One</p>
        <!-- SUmmit logo <svg xmlns="http://www.w3.org/2000/svg" height="42" viewBox="0 0 219 114" fill="none">
          <path d="M219 0H0V97.5198H93.273L109.798 114L126.323 97.5198H219V0Z" fill="#EE0000"/>
          <path d="M182.94 57.7517H178V51.5113H182.94V45.2142L190.436 43.5974V51.5113H197.279V57.7517H190.436V67.0555C190.436 69.2396 191.259 70.0055 193.673 70.0055C194.865 70.0055 195.802 69.8636 197.052 69.4949V75.5367C195.66 75.9622 193.247 76.2742 191.827 76.2742C185.95 76.2742 182.94 73.6362 182.94 68.5021V57.7233V57.7517Z" fill="white"/>
          <path d="M166.983 45.1291C166.983 42.8599 168.828 41.0162 171.1 41.0162C173.371 41.0162 175.217 42.8599 175.217 45.1291C175.217 47.3984 173.371 49.2421 171.1 49.2421C168.828 49.2421 166.983 47.3984 166.983 45.1291ZM174.848 75.9622H167.352V51.5113H174.848V75.9622Z" fill="white"/>
          <path d="M124.591 51.5113H132.087V53.0714C133.791 51.7382 135.892 51.0291 138.192 51.0291C141.258 51.0291 143.785 52.2772 145.46 54.4046C147.448 52.2205 150.174 51.0291 153.411 51.0291C158.976 51.0291 162.894 55.0853 162.894 60.8719V75.9338H155.398V61.893C155.398 59.1983 153.837 57.468 151.423 57.468C149.748 57.468 148.357 58.1204 147.391 59.3118C147.448 59.8223 147.476 60.3329 147.476 60.8719V75.9338H139.98V61.893C139.98 59.1983 138.419 57.468 136.005 57.468C134.33 57.468 132.996 58.0637 132.059 59.2267V75.9622H124.563V51.5113H124.591Z" fill="white"/>
          <path d="M81.8304 51.5113H89.3263V53.0714C91.0299 51.7382 93.1311 51.0291 95.4309 51.0291C98.4975 51.0291 101.024 52.2772 102.7 54.4046C104.687 52.2205 107.413 51.0291 110.65 51.0291C116.215 51.0291 120.133 55.0853 120.133 60.8719V75.9338H112.637V61.893C112.637 59.1983 111.076 57.468 108.662 57.468C106.987 57.468 105.596 58.1204 104.63 59.3118C104.687 59.8223 104.716 60.3329 104.716 60.8719V75.9338H97.2197V61.893C97.2197 59.1983 95.6581 57.468 93.2446 57.468C91.5694 57.468 90.2349 58.0637 89.2979 59.2267V75.9622H81.802V51.5113H81.8304Z" fill="white"/>
          <path d="M60.876 65.5805C60.876 68.2752 62.6364 70.0055 65.3055 70.0055C67.2078 70.0055 68.6843 69.3247 69.7065 68.0766V51.5397H77.2024V75.9905H69.7065V74.317C67.8893 75.7069 65.6462 76.4444 63.1475 76.4444C57.412 76.4444 53.3801 72.3881 53.3801 66.6016V51.5397H60.876V65.5805Z" fill="white"/>
          <path d="M25.8666 65.2401C29.8133 68.417 32.9082 69.7218 36.6562 69.7218C40.4041 69.7218 42.4769 68.5588 42.4769 66.5733C42.4769 64.7579 41.2275 63.8786 37.9907 63.3396L30.8639 62.0915C25.5827 61.1555 22.6865 57.9786 22.6865 53.2132C22.6865 46.9161 27.6838 43.1436 35.9747 43.1436C40.8016 43.1436 46.0261 44.9022 49.5753 47.7671L45.373 53.6387C41.9374 51.0007 38.8425 49.8094 35.4352 49.8094C32.1984 49.8094 30.2108 50.8589 30.2108 52.6176C30.2108 54.2344 31.3182 55.0286 34.0439 55.4824L40.7448 56.5887C46.9914 57.6098 50.2851 60.7868 50.2851 65.779C50.2851 72.3314 44.8619 76.416 36.0883 76.416C30.8639 76.416 25.4975 74.4304 21.4656 70.9982L25.895 65.2117L25.8666 65.2401Z" fill="white"/>
          <path d="M147.022 34.946C147.022 37.7542 148.726 39.1157 151.792 39.1157C152.531 39.1157 153.837 38.9455 154.603 38.7186V35.4566C153.922 35.6551 153.439 35.7402 152.786 35.7402C151.508 35.7402 151.054 35.3431 151.054 34.1518V29.1595H154.745V25.8124H151.054V21.5576L147.022 22.4369V25.8124H144.353V29.1595H147.022V34.946ZM134.472 35.0311C134.472 34.1518 135.352 33.7263 136.658 33.7263C137.539 33.7263 138.334 33.8398 139.044 34.0383V35.7402C138.305 36.1657 137.425 36.3643 136.517 36.3643C135.21 36.3643 134.444 35.8537 134.444 35.0311M135.665 39.2008C137.084 39.2008 138.22 38.8888 139.299 38.1797V38.9739H143.274V30.5494C143.274 27.3441 141.116 25.5855 137.482 25.5855C135.466 25.5855 133.478 26.0677 131.32 27.0321L132.769 29.9821C134.302 29.3297 135.608 28.9326 136.744 28.9326C138.419 28.9326 139.271 29.585 139.271 30.8898V31.5422C138.334 31.2869 137.34 31.1734 136.289 31.1734C132.911 31.1734 130.866 32.5917 130.866 35.1446C130.866 37.4705 132.712 39.2292 135.636 39.2292M113.745 39.0022H118.032V32.1946H125.216V39.0022H129.503V21.586H125.216V28.2802H118.032V21.586H113.745V39.0022ZM97.4185 32.3931C97.4185 30.4927 98.9234 29.046 100.883 29.046C101.99 29.046 102.984 29.4148 103.665 30.0672V34.6624C102.955 35.3715 101.99 35.7119 100.883 35.7119C98.9517 35.7119 97.4185 34.2652 97.4185 32.3648M103.722 38.9739H107.697V20.6783L103.665 21.5576V26.5215C102.671 25.9542 101.536 25.6422 100.315 25.6422C96.4815 25.6422 93.4718 28.5922 93.4718 32.3931C93.4718 36.1941 96.4247 39.1724 100.201 39.1724C101.507 39.1724 102.728 38.7753 103.75 38.0378V39.0022L103.722 38.9739ZM85.4364 28.8758C86.7141 28.8758 87.7647 29.6984 88.1906 30.9749H82.6822C83.0797 29.6417 84.0735 28.8758 85.4364 28.8758ZM78.6219 32.4215C78.6219 36.2508 81.7736 39.2292 85.8055 39.2292C88.0202 39.2292 89.6386 38.6335 91.3139 37.2436L88.6449 34.8893C88.0202 35.5417 87.1116 35.8821 86.0043 35.8821C84.4994 35.8821 83.2785 35.0595 82.7674 33.783H92.1657V32.7903C92.1657 28.6206 89.3547 25.5855 85.5216 25.5855C81.6884 25.5855 78.6503 28.5638 78.6503 32.3931M71.6939 25.1884C73.1135 25.1884 73.9086 26.096 73.9086 27.1456C73.9086 28.1951 73.1135 29.1028 71.6939 29.1028H67.4632V25.16H71.6939V25.1884ZM63.1758 38.9455H67.4632V32.5917H70.7285L74.0221 38.9455H78.7923L74.9591 31.9677C77.0319 31.06 78.2528 29.2162 78.2528 27.0605C78.2528 23.9119 75.7825 21.5009 72.0914 21.5009H63.1758V38.9172V38.9455Z" fill="white"/>
        </svg>-->
        <!--<img src="https://gpte-public.s3.amazonaws.com/rh-ansiblefest-2021-logo-pool-reverse-rgb_0.svg" alt="AnsibleFest logo" width="auto" class="hero-ansiblefest-logo dx-block dx-mb-2">-->
      </div>
      <a class="navbar-item site-title" target="__blank" style="color: #fff !important;" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        {{#if page.attributes.links}}
        <div class="navbar-item navbar-item-right-dropdown has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Links</a>
          <div class="navbar-dropdown navbar-dropdown-right">
            {{#each page.attributes.links}}
            <a class="navbar-item navbar-item-right-content" href="{{this.url}}" target="_blank">{{this.text}}</a>
            {{/each}}
          </div>
        </div>
        {{/if}}
        {{#if page.attributes.user}}
        <div class="navbar-item">You are {{page.attributes.user}}</div>
        {{/if}}
      </div>
    </div>
  </nav>
</header>
    